server {
  listen 80;
  
  server_name {{ inventory_hostname }};

  location / {
    return 301 https://$host$request_uri;
  }

  location ^~ /.well-known/acme-challenge/ {
    default_type "text/plain";
    root         /var/www/letsencrypt;
  }

  location = /.well-known/acme-challenge/ {
    return 404;
  }
}

server {
  listen 443 ssl;

  root {{ nginx_root_dir }};
  index index.php;

  server_name {{ inventory_hostname }};

  ssl_certificate /etc/letsencrypt/live/{{ inventory_hostname }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem;

  location / {
      try_files $uri $uri/ /index.php$is_args$args;
  }

  location ~ \.php {
      try_files $uri /index.php =404;
      fastcgi_pass unix:/run/php/php7.2-fpm.sock;
      fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
      fastcgi_param SCRIPT_NAME $fastcgi_script_name;
      fastcgi_split_path_info ^(.+\.php)(/.+)$;
      fastcgi_index index.php;
      include fastcgi_params;
  }

  location ~ /\.(?:ht|git|svn) {
      deny all;
  }
}
